@import "header.css";
@import "herosection.css";
@import "infosection.css";
@import "features_section.css";
@import "footer.css";
@import "adaptation.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg, #F6FAFD 0%, #FFF 19.4%);
}

@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/Avenir_Regular.ttf');
}

.font-avenir {
    font-family: 'Avenir', sans-serif;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../../assets/fonts/Helvetica.ttf');
}

.font-helvetica {
    font-family: 'Helvetica', sans-serif;
}

.horizontal-list {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color:inherit;
}

hr{
    height: 2px;
    color: #9C69E2;
    width: 100%;
}

button{
    cursor: pointer;
}

