.filter_and_search{
    max-width: 90%;
    margin: 20px auto 20px;
    display: flex;
    justify-content: space-between;
}

.filters, .search_and_apply{
    display: flex;
    gap:20px;
}

.filters{
    > select{
        width: fit-content;
        height: 40px;
        border-radius: 6px;
        border: 2px solid dimgray;
        font-family: "SourceSansPro", sans-serif;
        font-size: 18px;
        color: dimgray;
        option{
            background-color: #e8f1fd;
            font-family: "SourceSansPro", sans-serif;
            font-size: 16px;
            text-decoration-color: dimgray;
        }
    }
}

.search_input{
    min-width: 180px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid dimgray;
    font-family: "SourceSansPro", sans-serif;
    font-size: 18px;
    color: dimgray;
}