.nav_a{
    text-decoration: none;
    color: dimgray;
    font-size: 18px;
    font-weight: 500;
    font-family: "SourceSansPro", sans-serif;
}

.nav_ul{
    list-style: none;
    background-color: #e8f1fd;
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: 0 auto 0;
    align-items: center;
    a{
        background-color : #e8f1fd;
        padding: 10px 25px;
        transition: all 0.5s ease-in-out;
        &:hover{
            color: #e8f1fd;
            border-radius: 20px;
            background-color : gray;
        }
    }
}

.active{
    font-size: 19px;
    color: black;
}

.not_active{
    font-size: 17px;
}