.view_more_button{
    padding: 18px 22px;
    font-family: "SourceSansPro", sans-serif;
    font-size: 20px;
    background-color: #193694;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    &:hover {
        scale: 1.1;
        border: 2px solid #193694;
        background-color: #FFFFFF;
        color: #193694;

    }
}